@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.file-upload {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  &__progress-container {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacing-05;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__warnings {
    padding: spacing.$spacing-04;
    background-color: var(--cds-layer-02, #e0e0e0);
    border-radius: 4px;
    border-left: 3px solid var(--cds-support-warning, #f1c21b);

    h4 {
      @include type.type-style('heading-compact-01');
      margin-bottom: spacing.$spacing-03;
      color: var(--cds-text-primary, #161616);
    }

    ul {
      margin: 0;
      padding-left: spacing.$spacing-05;

      li {
        @include type.type-style('body-compact-01');
        color: var(--cds-text-secondary, #525252);
        margin-bottom: spacing.$spacing-02;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacing.$spacing-05;
  }

  &__error {
    width: 100%;
    padding: spacing.$spacing-05;
    background-color: var(--cds-layer-02, #e0e0e0);
    border-radius: 4px;
    border-left: 3px solid var(--cds-support-error, #da1e28);

    h4 {
      @include type.type-style('heading-compact-01');
      margin-bottom: spacing.$spacing-03;
      color: var(--cds-support-error, #da1e28);
    }

    ul {
      margin: 0;
      padding-left: spacing.$spacing-05;

      li {
        @include type.type-style('body-compact-01');
        color: var(--cds-text-primary, #161616);
        margin-bottom: spacing.$spacing-02;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
