@use '@carbon/react/scss/spacing' as *;

.timeline-page {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-05;

    h1 {
      font-size: 1.75rem;
      font-weight: 300;
    }
  }
}
