@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.tables-page {
  // Add margin to all columns for vertical spacing between rows
  :global {
    .cds--css-grid-column,
    [class*='cds--col'] {
      margin-bottom: spacing.$spacing-05;
    }
  }

  &__title {
    @include type.type-style('heading-04');
    margin-bottom: spacing.$spacing-03;
    color: theme.$text-primary;
  }

  &__subtitle {
    @include type.type-style('body-01');
    color: theme.$text-secondary;
    margin-bottom: spacing.$spacing-06;
  }

  &__table-tile {
    padding: spacing.$spacing-05;
    margin-bottom: spacing.$spacing-05;
  }

  &__placeholder {
    @include type.type-style('body-01');
    color: theme.$text-placeholder;
    text-align: center;
    padding: spacing.$spacing-07;
  }

  &__name-cell {
    font-weight: 600;
    color: theme.$text-primary;
  }
}
